#root {
  text-align: center;
}

#header{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  font-size: 50%;
  border-bottom: 2px rgb(95, 94, 94) solid;
  background-color: rgb(9, 9, 9);
}

/* #search{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
} */
input{
  height: 5%;
  width: 20%;
  background-color: rgb(57, 56, 56);
  color:bisque;
  margin-left: 5px;
  
}

